@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Qwitcher+Grypen&display=swap");
$theme-colors: (
  "primary": rgb(44, 194, 106),
  "danger": rgb(209, 176, 30),
);
@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  40% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
@mixin primary-font {
  font-family: "Outfit", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  @include primary-font();
}
.text-primary {
  color: rgb(44, 194, 106) !important;
}
.secondary-font {
  font-family: "Qwitcher Grypen", cursive;
}
nav {
  z-index: 2;
  width: 100%;

  // .nav-link {
  //   color: white !important;
  // }
}
.primary-font {
  font-family: "Outfit", sans-serif;
}

.btn-main {
  background-color: #000;
  border: none;
  border-radius: 0;
  padding: 10px 30px;
  font-size: 17px;
}
#carousel {
  #carouselExampleFade {
    height: 100vh;
    overflow: hidden;
  }
  .carousel-inner {
    height: 100%;

    .carousel-item {
      .carousel-text {
        h2 {
          animation: slidein 1.5s ease;
        }
        h3 {
          animation: slidein 2s ease;
        }
        a {
          animation: slidein 3s ease;
        }
      }
      height: 100%;
      img {
        object-fit: cover !important;
      }
      h1 {
        top: 50%;
        left: 50%;
      }
    }
  }
}
#shop {
  .container-fluid {
    .written-title {
      margin-bottom: -30px !important;
    }
    .article-a:hover .article-price {
      display: none !important;
      opacity: 0;
    }
    .article-a:hover .article-alt {
      display: block !important;
    }
    .article-name {
      font-size: 18px;
    }
    .article-img {
      width: 100%;
      object-fit: cover;
      height: 400px;
    }
  }
}
#banner {
  background-image: url("../img/banner-3.jpg");
  // background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  .banner-text {
    font-size: 130px;
  }
}
#featured {
  .container {
    .row {
      .featured-display {
        font-size: 150px;
        margin-bottom: -30px;
      }
      .featured-name {
        font-size: 40px;
      }
      .article-a {
        &:hover img {
          transform: scale(0.95);
        }
        .article-name {
          font-size: 18px;
        }
        img {
          transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
  }
}
#promo {
  background-image: url("../img/modal-bg.jpg");
  background-position: center;
  min-height: 500px;

  .play-icon {
    font-size: 100px !important;
    position: relative;
    z-index: 1;
  }
  .dark-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    // z-index: -1;
  }
}

.modal-height {
  height: 350px !important;
}
// #category {
//   .container{
//     .row{
//       .c
//     }
//   }
//   .category {
//     background-image: url("../img/category-1.jpg");
//     background-position: cover;
//   }
// }

.category-img-1 {
  background-image: url("../img/category-1.jpg");
  background-size: cover;
  background-position: center;
  min-height: 200px;
}
.category-img-2 {
  background-image: url("../img/category-2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 200px;
}
.category-img-3 {
  background-image: url("../img/category-3.jpg");
  background-size: cover;
  background-position: center;
  min-height: 200px;
}
.img-about {
  background-image: url("../img/banner-1.jpg");
}
.img-clothing {
  background-image: url("../img/banner-5.jpg");
}
.img-contact {
  background-image: url("../img/banner-7.jpg");
}
#cover {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 300px;
}
.mb--2 {
  margin-bottom: -20px !important;
}
#about-split {
  .about-split-img {
    background-image: url("../img/banner-2.jpg");
    background-size: cover;
    min-height: 400px;
    background-position: center;
  }
}
#contact {
  form {
    input,
    textarea {
      border: 1px solid rgba(0, 0, 0, 0.164);
    }
  }
}
@media screen and (max-width: 1025px) {
  #carousel {
    .carousel-item {
      img {
        height: 100% !important;
      }
    }
  }
  #shop {
    .container-fluid {
      .written-title {
        margin-bottom: -20px !important;
      }
    }
  }
  #banner {
    background-position: center;
    .banner-text {
      font-size: 110px;
    }
  }
  #featured {
    .container {
      .row {
        .featured-display {
          font-size: 120px;
        }
        .featured-name {
          font-size: 27px;
        }
        .featured-text {
          font-size: 13px;
        }
        .featured-link {
          font-size: 14px;
        }
      }
    }
  }
  .modal-height {
    height: 300px !important;
  }
  #about-split {
    .about-split-h4 {
      font-size: 50px;
    }
  }
}
@media screen and (max-width: 769px) {
  #carousel {
    .carousel-item {
      img {
        height: 100% !important;
      }
    }
  }
  #shop {
    .container-fluid {
      .written-title {
        font-size: 50px;
      }
    }
  }
  #featured {
    .container {
      .row {
        .featured-display {
          font-size: 120px;
        }
        .featured-name {
          font-size: 30px;
        }
        .featured-text {
          font-size: 15px;
          width: 50%;
          margin-left: auto;
        }
        .featured-link {
          font-size: 16px;
        }
      }
    }
  }
  .modal-height {
    height: 250px !important;
  }
}
@media screen and (max-width: 426px) {
  nav {
    background-color: rgb(36, 36, 36) !important;
  }
  #banner {
    .banner-text {
      font-size: 90px;
    }
  }
  #featured {
    .container {
      .row {
        .featured-display {
          font-size: 120px;

          text-align: center !important;
        }
        .featured-name {
          font-size: 30px;

          text-align: center !important;
        }
        .featured-text {
          font-size: 15px !important;
          width: auto;
          text-align: center;
        }
        .featured-link {
          font-size: 16px;
        }
      }
    }
  }
  footer {
    .container {
      .row {
        .col-sm-4 {
          text-align: center !important;
          p {
            justify-content: center !important;
          }
        }
      }
    }
  }
  .modal-height {
    height: 200px !important;
  }
  #about-split {
    .about-split-h4 {
      font-size: 60px;
    }
    .about-split-h3 {
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 321px) {
  .modal-height {
    height: 150px !important;
  }
}
